node_modules
dist
*.local
.DS_Store
*.tsbuildinfo

# stray Chrome devtools-mcp cache accidentally written to a literal ~ path
/~

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
